.myHeader ul li{

  display:inline;

  

}


img {max-width:100%;} 

a {   

    text-decoration:none;

    color:black;

}



.myHeader.img {

    float:left;

}



.nav-bar{position:absolute;display:inline-block;vertical-align:top;margin-left:150px;margin-top:75px;font:18px/18px Helvetica, Sans-Serif;}



div.myHeader, div.nav-bar{display:inline;}



div.nav-bar, div.nav-item{display:inline;}



.nav-item{padding-left:50px;font: 18px/18px Helvetica, Sans-Serif;}

.dropdown{padding-left:50px;font: 18px/18px Helvetica, Sans-Serif;}

   

.myHeader img {

    padding-left:400px;

}



.myHeader li {

    padding-left:50px;

    font: 18px/18px Helvetica, Sans-Serif;

}



.dropdown {

    position: relative;

    display: inline-block;

    z-index:1000;

}



.dropdown-content {

    display: none;

    position: absolute;

    background-color: #f9f9f9;

    min-width: 160px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}



.dropdown-content a {

    color: black;

    padding: 12px 16px;

    text-decoration: none;

    display: block;

}



.dropdown-content a:hover {background-color: #f1f1f1}



.dropdown:hover .dropdown-content {

    display: block;

}



.dropdown:hover .dropbtn {

    background-color: #3e8e41;

}

@media only screen and (max-width : 640px) {
.myHeader img {padding-left:5px;}
.nav-bar{position:absolute;display:inline-block;vertical-align:top;margin-left:5px;margin-top:75px;font:18px/18px Helvetica, Sans-Serif;}

.nav-item{padding-left:5px;font: 18px/18px Helvetica, Sans-Serif;}

.dropdown{padding-left:5px;font: 18px/18px Helvetica, Sans-Serif;}
.myHeader li {padding-left:5px;font: 18px/18px Helvetica, Sans-Serif;}
.myHeader img {width:100px;height:100px;}
  .myHeader {display:inline-block;}
}


.tileContainer li {

     font-size:24px;

}







.floatingbutton {display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px;}



.floatingbuttoni {   

    width: 50px; 

    height: 50px;    

    text-align:center;

    border-radius:50%; 

    background-color:black;    

    color:white;

    font-weight:bold;

    font-size:36px;

    



}

.mySlideshow {

    position:relative;

    width:100%;

    height:300px;  

    

}  



.mySlideshow img {

    max-height:300px;
    max-width:100%;
   

    display:block;

    margin-left:auto;

    margin-right:auto;    

    overflow: hidden;



}



.mySlideshow a { 

    cursor: pointer;

}





.displayleft {position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.displayright {position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(-50%,-50%)}



h2 { 

   position: absolute; 

   top: 200px; 

   left: 25px; 

   width: 100%; 

}



h2 span { 

   color: white; 

   font: bold 24px/45px Helvetica, Sans-Serif; 

   letter-spacing: -1px;  

   background: rgb(0, 0, 0); /* fallback color */

   background: rgba(0, 0, 0, 0.7);

   padding: 10px; 

}



h3 {    

   top: 200px; 

   left: 25px; 

   width: 100%; 

}



.all-tiles h3 span { 

   color: white; 

   font: bold 24px/45px Helvetica, Sans-Serif; 

   letter-spacing: -1px;  

   background: rgb(0, 0, 0); /* fallback color */

   background: rgba(0, 0, 0, 0.7);

   padding: 10px; 

}







.tileContainer

{

    width:1280px;

    height: 440px; 

    margin:0 auto;
    
    

    

}



.tile-1 {

    float: left;

    width: 200px;

    height: 400px;

    background-color: red;

}



.tile-2{

    float: left;

    width: 200px;

    height: 400px;

    background-color: green;

}





.tile-3{

    float: right;

    width: 200px;

    height: 400px;

    background-color: blue;

}



.tile-4 {

    float: right;

    width: 200px;

    height: 400px;

    background-color: #DDDDDD;

}



.all-tiles {

    

    width:300px;

    height: 400px;

    margin-right:10px;

    margin-left:10px;

    margin-top:20px;

    margin-bottom:20px;    

    float:left;

    background-size: 300px 400px;

    border-radius:5%;



}



.tile-1 {

    background-image: url('https://l2yl7q-bn1306.files.1drv.com/y3mHnpbwjPZErlxwwr3soWAqXbEGwBUVeRCb3Qp1ESpZwtzZERGOMhMDtQZk81ePWpx21qpq235755jKkn1BsDXxvph129BWWKldRICjHZc6tdyA7dJ5DmyIX7_IgexwCpJNhLRmzr1qs4FqFAn57PpiBd8wZJdDbooSt455hqdFq8?width=1920&height=1266&cropmode=none');    

}

.tile-2 {

    background-image: url('https://mtsceq-bn1306.files.1drv.com/y3muwYtvnSg64khHakARxCk206fW93YKG7m9qQ8bDp8jEDKsIVwxmjyK9DSSQlpohj-UuhZ6CO_7uyew5APSPAslGr7Sb1M3TY-pxTEsl0C-efsG2Z90XtRAbTteUCYm4vczvB6TG_hYrXTBdsPs0CVnTNFLhyr64RqP4WukNl6Irc?width=1920&height=1280&cropmode=none');    

}

.tile-3 {

    background-image: url('https://mtv7mq-bn1306.files.1drv.com/y3m7n4U08F-3-NNF87DEXGrFx1wnICrR3sNxO9SH-tALfmr4gGWYyx2jOp8-lRmX_800CX23MoGlNN2iq5-gpZqy-duRK3vaLLNkQQ96fPw78VbAnzRt8dF21sn9NKaFv7drZrSsYp8ZkAYg9vBStFfqbzLBDIA7HZqEpbZUW5TExY?width=1920&height=2880&cropmode=none');    

}



.tile-4 {

    background-image: url('https://l2zujw-bn1306.files.1drv.com/y3mLjfuqpOXpnf0v4N_r4nKPA_dFf-6FQVQkA19EqKIxngY1ACW8HXfmRj2BmDoTfRCcklwUcQ4XV5uI3RJSMHQ7fKJIDPZB_qcWmCY6k-6VMxqRyrX2JlT865SAZk95lYtIx4JPgxeIkeImd6bgstQwU4OY7jWYd_btt1NQlWKSzw?width=1920&height=1280&cropmode=none');    

}



.tile-5 {

    background-image: url('https://zuqllw-bn1306.files.1drv.com/y3mk4IBYGGQ9PQWEpjV8L_OhBOR207OvOvplUOnUINYl4zVIEJ9alXdunlgrAuLcYyQxeePnrRHfUOJOjr936WkJOmyWYLCUzpDrDcJnvLKtXhhByfQv17xl78D9kSgr93n_FFxPP-Xab0_pR8CYXU5oYT9XLhFB6L-2B_ldOTbKLA?width=1920&height=1276&cropmode=none');

}



.tile-6 {

    background-image: url('https://l2akea-bn1306.files.1drv.com/y3mFrqrwkX4pb1NAsqqPQXIpaE1ZnmriZBnVvNMUFmEX1GK-uBnmKugVb8gxAxM3dE0eWD51OgsumwN64i_OlJMQILxDN6bus5tUqE7Wl0vrruSg0iL0ZM_kwKM-z7qRIj3V9rPtw6Km1zmHEC73cNGFtni_i9tSwbiBtR8Cc-72gs?width=1920&height=1280&cropmode=none');

}



.tile-news {

    background-color: #008080;

}



.tile-news ul {

    list-style:none;

    padding:15px;

}



.tile-news a {

    color:white;

    font: 18px/18px Helvetica, Sans-Serif; 

    margin-left:15px;

    margin-right:15px;

    line-height:1.4;

}    



.tile-news span {

   color: black; 

   font: bold 18px/18px Helvetica, Sans-Serif; 

   letter-spacing: -1px;  

   background: rgb(1, 1, 1); /* fallback color */

   background: rgba(255, 255, 255, 1);

   padding: 10px;

}



.tile-news li {

    margin-bottom:20px;

}

   



.tile-about {

    background-color: #008080;

}

    

.tile-about p {

    color:white;

    font: 18px/18px Helvetica, Sans-Serif; 

    margin-left:15px;

    margin-right:15px;

    line-height:1.4; 

}  

.tile-about a {

    color:white;

} 



.tile-about a:hover { 

    color: #292c2f;

}    



.showonhover { 

    display: none;

}

.alwaysshowme:hover .showonhover {

    display: inline;

}



.all-tiles p span {

   color: black; 

   font: bold 18px/18px Helvetica, Sans-Serif;     

   background: rgb(1, 1, 1); /* fallback color */

   background: rgba(255, 255, 255, 0.7);

   padding: 0px;  

   line-height:1.4; 

}



.all-tiles p {

   margin-left:15px;

   margin-right:15px;

   

}


