html, body {font-size: 1.05em;line-height: 1.25em;font-family: Helvetica Neue, Helvetica, Arial;background: #F7FAF6;color: #555;width: 100%;height: auto;margin: 0px;padding: 0px;overflow-x: hidden;}
.nav-bar a {color: #008080;text-decoration: none;font-weight: bold;}
.nav-bar a:hover {color: #444;}
header {background: #fff;width: 100%;height: 120px;position: fixed;top: 0;left: 0;border-bottom: 4px solid #008080;z-index: 100;margin-bottom:5px;}
#logo{margin: 20px;float: left;width: 200px;height: 50px;background: url(https://yx07mw-bn1306.files.1drv.com/y3maathAaHhiOYG99FTO_znD4sYpMIAxmKEY1umJoI-a9OfCMzLt0OQ2wRuJIv105DAP51q-nqkONFnJak1n8EtYijfwPJdoQpN4TH8UzL5k2bRrrkG32yHyQpwp_ynEdsZh6Cal_H13jzPaihPqOkYsthf6-YFjgzY9OzAJiILIkg?width=480&height=153&cropmode=none) no-repeat center;display: block;background-size: 200px 50px;}
nav {float: right;padding: 20px;top:80px;}
#menu-icon {display: hidden;width: 40px;height: 40px;margin-top:20px;background:url(https://qpgzmw-bn1306.files.1drv.com/y3mq187NxKNmBFSaWK3XKXLlG-PCNbsTDGAovgclw6_jww4wjtvK6xzOKoi6mquG5UmhWNRsVGlcAy9xTsro8-bnSYjPx8fyQwyUdjw6F6glc2z1Si4LC80LsxwcvWJ_2KWB0b_iXCPjXiQglcmnb4iOmte1CIhM-C716PGua-9zgo?width=40&height=40&cropmode=none) center;background-color:#008080;}
.nav-bar a:hover#menu-icon {background-color: #008080;border-radius: 4px 4px 0 0;}
.nav-bar ul {list-style: none;}
.nav-bar li {display: inline-block;float: left;padding: 10px;}
.current {color: #008080;}
.dropdown{font: 18px/18px Helvetica, Sans-Serif;}
.dropdown {position: relative;display: inline-block;z-index:1000;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.dropdown-content a {color:#008080;padding: 12px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
/* Styles */
 #logo {margin-left:15%;}
 nav {margin-right:15.5%;}
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;}
.myBanner {position:relative;width:100%;height:300px;}
.imgcontainer{width:100%;margin: 0 auto;height:300px;}
.myBanner img {height:300px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;margin-top:5px;} 
.myBanner h2 {position: absolute;top: 200px;left:3%;width:100%;}
.instructionBox{width:100%;height:100px;border: 1px solid black;margin-top:20px;}
.instructionText{font: 18px/18px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;text-align: center;vertical-align: middle;line-height:80px;}
.wrapper{overflow:auto;width:100%}
.container{width:66%;height:600px;border: 1px; border-style:dashed;margin-top:20px;float:left;position:relative;} 
.newclassBpool{width:66%;height:600px;border: 1px; border-style:dashed;margin-top:20px;float:left;position:relative;background-image:url(http://gifyu.com/images/defefenceZone.jpg);background-size:contain;} 
.testcontainer{float:left;width:30%;margin-top:20px;}
#topBoximg{width:100%;margin-left:3%;height:195px;margin-bottom:5px;border: 1px solid black;background-image:url(http://gifyu.com/images/blackpoolStill.jpg);background-size:100%;}
#topBoximg:hover{width:100%;margin-left:3%;height:195px;margin-bottom:5px;border: 1px solid black;background-image:url(http://gifyu.com/images/blackpooltour.gif);background-size:100% 195px;}
.dragBoxblackpoolnb{width:100%;margin-left:3%;height:195px;margin-bottom:5px;border: 1px solid black;} 

 
 
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {text-align:center;font-size:0;width:100%;margin: 0 auto;}
.img-displayed {display:inline:block;width:48%;margin-left:1%;margin-right:1%;} 
.p1 {color:#008080;font: 18px/18px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;text-align:justify;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;test-align:justify;}
.p3 {color:#008080;font: 18px/18px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.col {float:left;}
h2 span {color: white;font: bold 24px/45px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 10px;}
}



