/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen and (max-width: 640px) 
 {
 
.logoContainer {margin-left:50px;width:50px;height:50px;float:left;}
.logoContainer img {max-width:100%;max-height:100%;}
.myHeader {display:inline-block;}

.myHeader ul li{display:inline;}
.nav-bar a {text-decoration:none;color:black;}
.nav-bar{position:absolute;display:inline-block;vertical-align:top;margin-left:25px;width:100%;margin-top:12px;font:14px/14px Helvetica, Sans-Serif;}
.nav-item{margin-left:10px;font: 14px/14px Helvetica, Sans-Serif;}

.dropdown{margin-left:10px;font: 14px/14px Helvetica, Sans-Serif;}

.dropdown {position: relative;display: inline-block;z-index:1000;}

.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
     
.myBanner {position:relative;width:360px;height:100px;margin-top:10px;} 
.myBanner img {height:100px;width:340px;display:block;margin-left:auto;margin-right:auto;overflow: hidden;}
  
}


