html, body {font-size: 1.05em;line-height: 1.25em;font-family: Helvetica Neue, Helvetica, Arial;background: #FFFFFF;color: #555;width: 100%;height: auto;margin: 0px;padding: 0px;overflow-x: hidden;}
.nav-bar a {color: #008080;text-decoration: none;font-weight: bold;}
.nav-bar a:hover {color: #444;}
header {background: #fff;width: 100%;height: 120px;position: fixed;top: 0;left: 0;border-bottom: 4px solid #008080;z-index: 100;margin-bottom:5px;}

nav {float: right;padding: 20px;top:80px;}
#menu-icon {display: hidden;width: 40px;height: 40px;margin-top:20px;background:url(https://qpgzmw-bn1306.files.1drv.com/y3mq187NxKNmBFSaWK3XKXLlG-PCNbsTDGAovgclw6_jww4wjtvK6xzOKoi6mquG5UmhWNRsVGlcAy9xTsro8-bnSYjPx8fyQwyUdjw6F6glc2z1Si4LC80LsxwcvWJ_2KWB0b_iXCPjXiQglcmnb4iOmte1CIhM-C716PGua-9zgo?width=40&height=40&cropmode=none) center;background-color:#008080;}
.nav-bar a:hover#menu-icon {background-color: #008080;border-radius: 4px 4px 0 0;}
.nav-bar ul {list-style: none;}
.nav-bar li {display: inline-block;float: left;padding: 10px;}
.current {color: #008080;}
.dropdown{font: 18px/18px Helvetica, Sans-Serif;}
.dropdown {position: relative;display: inline-block;z-index:1000;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.dropdown-content a {color:#008080;padding: 12px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.img-displayed{border: 1px solid black;border-radius:5%; }
#logo{float: left;width: 300px;height: 75px;margin-top:30px;background: url(http://gifyu.com/images/logo300x75.png) no-repeat center;display: block;background-size: 100% 100%;border:0;} 

#logo {margin-left:17%;}
nav {margin-right:15.5%;}
.spacer {height:120px;}
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;}
.myBanner {position:relative;width:100%;height:200px;}
.imgcontainer{width:100%;margin: 0 auto;height:200px;}
.myBanner img {height:200px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;} 
.myBanner h2 {position: absolute;top: 115px;left:1%;width:100%;}
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;overflow:hidden;}
.content-2 {text-align:center;font-size:0;width:100%;margin: 0 auto;overflow: auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {float:left;width:45%;}
.img-container img {display:block;}
.img-displayed {width:100%;margin-top:20px;}
.img-displayed-block {width:100%;margin-top:20px;display:block;}
.content-text-1{float:left;width:40%;}
.content-text-2{width:100%;}
.objectrightMargin{margin-left:5%;}
h1 {line-height:1.2;font-size:18px;}
.p1 {color:#008080;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;}
.p3 {color:#008080;font: 16px/16px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.content-2 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;} 
.col {float:left;}
h2 span {color: white;font: bold 18px/18px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 10px;}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
#logo{float: left;width: 200px;height: 50px;margin-top:30px;background: url(http://gifyu.com/images/logo200x50.png) no-repeat center;display: block;background-size: 100% 100%;border:0;} 

#logo {margin-left:17%;}
nav {margin-right:15.5%;}
.spacer {height:120px;}
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;}
.myBanner {position:relative;width:100%;height:200px;}
.imgcontainer{width:100%;margin: 0 auto;height:200px;}
.myBanner img {height:200px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;} 
.myBanner h2 {position: absolute;top: 115px;left:1%;width:100%;}
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;overflow:hidden;}
.content-2 {text-align:center;font-size:0;width:100%;margin: 0 auto;overflow: auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {float:left;width:45%;}
.img-container img {display:block;}
.img-displayed {width:100%;margin-top:20px;}
.img-displayed-block {width:100%;margin-top:20px;display:block;}
.content-text-1{float:left;width:40%;}
.content-text-2{width:100%;}
.objectrightMargin{margin-left:5%;}
 h1 {line-height:1.2;font-size:18px;} 
.p1 {color:#008080;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;}
.p3 {color:#008080;font: 16px/16px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.content-2 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;} 
.col {float:left;}
h2 span {color: white;font: bold 18px/18px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 10px;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
#logo{float: left;width: 200px;height: 50px;margin-top:30px;background: url(http://gifyu.com/images/logo200x50.png) no-repeat center;display: block;background-size: 100% 100%;border:0;} 

#logo {margin-left:1%;}
nav {margin-right:1%;}
.spacer {height:120px;}
.mainContainer{width:100%;background-color:#FFFFFF;margin: 0 auto;}
.myBanner {position:relative;width:100%;height:150px;}
.imgcontainer{width:100%;margin: 0 auto;height:150px;}
.myBanner img {height:150px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;} 
.myBanner h2 {position: absolute;top: 70px;left:1%;width:100%;}
.content-1 {position:relative;width:95%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;overflow:hidden;}
.content-2 {text-align:center;font-size:0;width:100%;margin: 0 auto;overflow: auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {float:left;width:45%;}
.img-container img {display:block;}
.img-displayed {width:100%;margin-top:20px;}
.img-displayed-block {width:100%;margin-top:20px;display:block;}
.content-text-1{float:left;width:40%;}
.content-text-2{width:100%;}
.objectrightMargin{margin-left:5%;}
 h1 {line-height:1.2;font-size:16px;} 
.p1 {color:#008080;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;}
.p2 {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;}
.p3 {color:#008080;font: 14px/14px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.content-2 ul {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;} 
.col {float:left;}
h2 span {color: white;font: bold 16px/16px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 10px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
header {position: absolute;height:120px;}
#logo{float: left;width: 200px;height: 50px;background: url(http://gifyu.com/images/logo200x50.png) no-repeat center;display: block;background-size: 100% 100%;margin-top:20px;margin-left:10px;margin-right:0;border:0;} 
#menu-icon {display:inline-block;width:40px;height:40px;background-size:100% 100%;float:right;margin:0;border:0;}
nav ul, nav:active ul {display: none;position: absolute;padding: 20px;background: #fff;border: 1px solid #008080;right: 20px;top: 30px;width: 50%;border-radius: 4px 0 4px 4px;}
nav li {text-align: center;width: 100%;padding: 10px 0;margin: 0;}
nav:hover ul {display: block;}
nav a{font: 14px/14px Helvetica, Sans-Serif;}
nav {margin-right:0;} 
.dropdown{font: 14px/14px Helvetica, Sans-Serif;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.spacer {height:120px;}
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;}
.imgcontainer{width:100%;margin: 0 auto;height:120px;}  
.myBanner {position:relative;width:100%;height:120px;} 
.myBanner img {height:120px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;}
.myBanner h2 {position: absolute;top: 50px;left:1%; width: 100%;}
h2 span {color: white;font: bold 16px/16px Helvetica, Sans-Serif;letter-spacing: -1px;background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 5px;}
.content-text-1{width: 100%;margin: 0 auto;}
.content-text-2{width:100%;margin: 0 auto;}  
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;margin: 0 auto;}
.text-intro {width: 100%;margin: 0 auto;}
h1 {line-height:1.2;font-size:16px;}  
.p1 {color:#008080;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-left:5px;margin-top:20px;}
.p2 {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif; line-height:1.4;margin-left:5px;margin-top:20px;}
.content-1 ul {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.img-container {text-align:center;font-size:0;width:100%;margin: 0 auto;}
.img-displayed {display:block;width:99%;margin-left:auto 0;margin-right:auto 0;margin-top:1%;margin-bottom:1%;}
.objectrightMargin{margin: 0;}  
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
header {position: absolute;height:100px;}
#logo{float: left;width: 200px;height: 50px;background: url(http://gifyu.com/images/logo200x50.png) no-repeat center;display: block;background-size: 100% 100%;margin-top:20px;margin-left:10px;margin-right:0;border:0;} 
#menu-icon {display:inline-block;width:40px;height:40px;background-size:100% 100%;float:right;margin:0;border:0;}
nav ul, nav:active ul {display: none;position: absolute;padding: 20px;background: #fff;border: 1px solid #008080;right: 20px;top: 30px;width: 50%;border-radius: 4px 0 4px 4px;}
nav li {text-align: center;width: 100%;padding: 10px 0;margin: 0;}
nav:hover ul {display: block;}
nav a{font: 14px/14px Helvetica, Sans-Serif;}
nav {margin-right:0;} 
.dropdown{font: 14px/14px Helvetica, Sans-Serif;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.spacer {height:100px;}
.mainContainer{width:100%;background-color:#FFFFFF;margin: 0 auto;}
.imgcontainer{width:100%;margin: 0 auto;height:100px;}  
.myBanner {position:relative;width:100%;height:100px;} 
.myBanner img {height:100px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;}
.myBanner h2 {position: absolute;top: 30px;left:1%; width: 100%;}
h2 span {color: white;font: bold 14px/14px Helvetica, Sans-Serif;letter-spacing: -1px;background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 5px;}
.content-text-1{width: 100%;margin: 0 auto;}
.content-text-2{width:100%;margin: 0 auto;}  
.content-1 {position:relative;width:95%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;margin: 0 auto;}
.text-intro {width: 100%;margin: 0 auto;}
h1 {line-height:1.2;font-size:16px;}  
.p1 {color:#008080;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-left:5px;margin-top:20px;}
.p2 {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif; line-height:1.4;margin-left:5px;margin-top:20px;}
.content-1 ul {color:#292c2f;font: 14px/14px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.img-container {text-align:center;font-size:0;width:100%;margin: 0 auto;}
.img-displayed {display:block;width:99%;margin-left:auto 0;margin-right:auto 0;margin-top:1%;margin-bottom:1%;}
.objectrightMargin{margin: 0;}   
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
header {position: absolute;height:75px;}
#logo{float: left;width: 100px;height: 25px;background: url(http://gifyu.com/images/logo200x50.png) no-repeat center;display: block;background-size: 100% 100%;margin-top:20px;margin-left:5px;margin-right:0;border:0;} 
#menu-icon {display:inline-block;width:25px;height:25px;background-size:100% 100%;float:right;margin:0;border:0;}
nav ul, nav:active ul {display: none;position: absolute;padding: 20px;background: #fff;border: 1px solid #008080;right: 45px;top: 30px;width: 75%;border-radius: 4px 0 4px 4px;}
nav li {text-align: center;width: 100%;padding: 10px 0;margin: 0;}
nav:hover ul {display: block;}
nav a{font: 12px/12px Helvetica, Sans-Serif;}
nav {margin-right:0;} 
.dropdown{font: 12px/12px Helvetica, Sans-Serif;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.spacer {height:75px;}
.mainContainer{width:100%;background-color:#FFFFFF;margin: 0 auto;}
.imgcontainer{width:100%;margin: 0 auto;height:100px;} 
.myBanner {position:relative;width:100%;height:100px;} 
.myBanner img {height:100px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;}
.myBanner h2 {position: absolute;top: 30px;left:1%; width: 100%;}
h2 span {color: white;font: bold 14px/14px Helvetica, Sans-Serif;letter-spacing: -1px;background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 5px;}
.content-text-1{width: 100%;margin: 0 auto;}
.content-text-2{width:100%;margin: 0 auto;}  
.content-1 {position:relative;width:95%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;margin: 0 auto;}
.text-intro {width: 100%;margin: 0 auto;}
 h1 {line-height:1.2;font-size:14px;} 
.p1 {color:#008080;font: 12px/12px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-left:5px;margin-top:20px;}
.p2 {color:#292c2f;font: 12px/12px Helvetica, Sans-Serif; line-height:1.4;margin-left:5px;margin-top:20px;}
.content-1 ul {color:#292c2f;font: 12px/12px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.img-container {text-align:center;font-size:0;width:100%;margin: 0 auto;}
.img-displayed {display:block;width:99%;margin-left:auto 0;margin-right:auto 0;margin-top:1%;margin-bottom:1%;}
.smallScreen{width:100px;height:25px;}
.psmallScreen{font-size:8px;}
.objectrightMargin{margin: 0;}        
}





