html, body {font-size: 1.05em;line-height: 1.25em;font-family: Helvetica Neue, Helvetica, Arial;background: #F7FAF6;color: #555;width: 100%;height: auto;margin: 0px;padding: 0px;overflow-x: hidden;}
.nav-bar a {color: #008080;text-decoration: none;font-weight: bold;}
.nav-bar a:hover {color: #444;}
header {background: #fff;width: 100%;height: 120px;position: fixed;top: 0;left: 0;border-bottom: 4px solid #008080;z-index: 100;margin-bottom:5px;}
#logo{margin: 20px;float: left;width: 200px;height: 50px;background: url(https://yx07mw-bn1306.files.1drv.com/y3maathAaHhiOYG99FTO_znD4sYpMIAxmKEY1umJoI-a9OfCMzLt0OQ2wRuJIv105DAP51q-nqkONFnJak1n8EtYijfwPJdoQpN4TH8UzL5k2bRrrkG32yHyQpwp_ynEdsZh6Cal_H13jzPaihPqOkYsthf6-YFjgzY9OzAJiILIkg?width=480&height=153&cropmode=none) no-repeat center;display: block;background-size: 200px 50px;}
nav {float: right;padding: 20px;top:80px;}
#menu-icon {display: hidden;width: 40px;height: 40px;margin-top:20px;background:url(https://qpgzmw-bn1306.files.1drv.com/y3mq187NxKNmBFSaWK3XKXLlG-PCNbsTDGAovgclw6_jww4wjtvK6xzOKoi6mquG5UmhWNRsVGlcAy9xTsro8-bnSYjPx8fyQwyUdjw6F6glc2z1Si4LC80LsxwcvWJ_2KWB0b_iXCPjXiQglcmnb4iOmte1CIhM-C716PGua-9zgo?width=40&height=40&cropmode=none) center;background-color:#008080;}
.nav-bar a:hover#menu-icon {background-color: #008080;border-radius: 4px 4px 0 0;}
.nav-bar ul {list-style: none;}
.nav-bar li {display: inline-block;float: left;padding: 10px;}
.current {color: #008080;}
.dropdown{font: 18px/18px Helvetica, Sans-Serif;}
.dropdown {position: relative;display: inline-block;z-index:1000;}
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.dropdown-content a {color:#008080;padding: 12px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
/* Styles */
 #logo {margin-left:15%;}
 nav {margin-right:15.5%;}
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;}
.myBanner {position:relative;width:100%;height:300px;}
.imgcontainer{width:100%;margin: 0 auto;height:300px;}
.myBanner img {height:300px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;margin-top:5px;} 
.myBanner h2 {position: absolute;top: 200px;left:3%;width:100%;}
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;}
.content-2 {text-align:center;font-size:0;width:100%;margin: 0 auto;overflow: auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {float:left;width:45%;margin-left:5%;}
.img-container img {display:block;}
.img-displayed {width:100%;margin-top:20px;} 
.content-text-1{float:left;width:40%;}
.p1 {color:#008080;font: 18px/18px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;text-align:justify;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;text-align:justify;}
.p3 {color:#008080;font: 18px/18px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.content-2 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;} 
.col {float:left;}
h2 span {color: white;font: bold 24px/45px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 10px;}
}

/* Tablets ----------- */
/* Portrait */
@media only screen
and (min-device-width: 640px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {

header {position: absolute;}
#menu-icon {display:inline-block;}
nav ul, nav:active ul {display: none;position: absolute;padding: 20px;background: #fff;border: 5px solid #008080;right: 20px;top: 80px;width: 50%;border-radius: 4px 0 4px 4px;}
nav li {text-align: center;width: 100%;padding: 10px 0;margin: 0;}
nav:hover ul {display: block;}
.spacer {height:120px;}
.myBanner {position:relative;width:100%;height:100px;margin-top:5px;} 
.myBanner img {height:100px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;}
.myBanner h2 {position: absolute;top: 30px;left:10px; width: 100%;}
h2 span {color: white;font: bold 18px/36px Helvetica, Sans-Serif;letter-spacing: -1px;background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 5px;} 
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;} 
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {text-align:center;font-size:0;width:100%;margin: 0 auto;}
.img-displayed {display:block;width:100%;margin-left:auto 0;margin-right:auto 0;margin-top:1%;margin-bottom:1%;} 

.p1 {color:#008080;font: 18px/18px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;text-align:justify;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;text-align:justify;}
.p3 {color:#008080;font: 18px/18px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.col {float:left;}
}

/* Landscape */
@media only screen
and (min-device-width: 640px) 
and (max-device-width: 1024px)
and (orientation: landscape) {
/* Styles */
#logo {margin-left:15%;}
nav {float: right;top:1px;}
nav {margin-right:1%;}
.mainContainer{width:66%;background-color:#FFFFFF;margin: 0 auto;}
.myBanner {position:relative;width:100%;height:300px;}
.imgcontainer{width:100%;margin: 0 auto;height:300px;}
.myBanner img {height:300px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;margin-top:5px;} 
.myBanner h2 {position: absolute;top: 200px;left:3%;width:100%;}
.content-1 {position:relative;width:100%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;}
.content-2 {text-align:center;font-size:0;width:100%;margin: 0 auto;overflow: auto;}
.text-intro {width: 100%;margin: 0 auto;} 
.img-container {float:left;width:48%;}
.img-container img {display:block;}
.img-displayed {width:100%;margin-left:1%;margin-right:1%;margin-top:20px;} 
.content-text-1{margin-left:5%;float:left;width:40%;}

.p1 {color:#008080;font: 18px/18px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-top:20px;margin-bottom:20px;text-align:justify;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;text-align:justify;}
.p3 {color:#008080;font: 18px/18px Helvetica, Sans-Serif; line-height:1.4;font-weight:bold;margin-left:5%;margin-bottom:20px;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.col {float:left;}
h2 span {color: white;font: bold 24px/45px Helvetica, Sans-Serif;letter-spacing: -1px; background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 10px;}
}  


/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
header {position: absolute;}
#menu-icon {display:inline-block;}
nav ul, nav:active ul {display: none;position: absolute;padding: 20px;background: #fff;border: 5px solid #008080;right: 20px;top: 80px;width: 50%;border-radius: 4px 0 4px 4px;}
nav li {text-align: center;width: 100%;padding: 10px 0;margin: 0;}
nav:hover ul {display: block;}
.spacer {height:120px;}
.myBanner {position:relative;width:100%;height:100px;margin-top:5px;} 
.myBanner img {height:100px;width:100%;display:block;margin-left:auto;margin-right:auto;overflow: hidden;}
.myBanner h2 {position: absolute;top: 30px;left:10px; width: 100%;}
h2 span {color: white;font: bold 18px/36px Helvetica, Sans-Serif;letter-spacing: -1px;background: rgb(0, 0, 0); /* fallback color */background: rgba(0, 0, 0, 0.7);padding: 5px;}

.content-1 {position:relative;width:90%;margin-top:20px;display:block;margin-left:auto;margin-right:auto;}
.text-intro {width: 100%;margin: 0 auto;}
.p1 {color:#008080;font: 18px/18px Helvetica, Sans-Serif;line-height:1.4;font-weight:bold;margin-left:5px;margin-top:20px;text-align:justify;}
.p2 {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif; line-height:1.4;margin-left:5px;margin-top:20px;text-align:justify;}
.content-1 ul {color:#292c2f;font: 16px/16px Helvetica, Sans-Serif;line-height:1.4;margin-top:20px;margin-bottom:20px;}
.img-container {text-align:center;font-size:0;width:100%;margin: 0 auto;}
.img-displayed {display:block;width:100%;margin-left:auto 0;margin-right:auto 0;margin-top:1%;margin-bottom:1%;}
}
